[2020-06-17 20:44] yolocs opened #3 "Add language option (e.g. go_package) for each proto"
Ref: https://developers.google.com/protocol-buffers/docs/reference/go-generated#package
It will be used for generating go packages.

[2020-06-18 15:46] jskeet commented on #3
Java options etc as well. We should probably work out everything needed for *one* proto, then apply it to all.

[2020-06-18 15:54] jskeet opened #6 "Storage Object schema discrepancies"
Three sources of truth to consider:

- [storage_resources.proto](https://github.com/googleapis/googleapis/blob/master/google/storage/v1/storage_resources.proto)
- [Knative Storage schema](https://github.com/google/knative-gcp/blob/master/schemas/storage/schema.json)
- What we see in GCF Storage events - [sample 1](https://github.com/GoogleCloudPlatform/functions-framework-dotnet/blob/master/src/Go

[2020-06-18 16:48] jskeet commented on #6
Note: if we make changes, this may make translating between representations trickier. We need to think about this from an infrastructure perspective as well as consumer. This shouldn't stop us from doing things; it just makes it a slightly bigger deal.

[2020-06-22 15:00] jskeet commented on #6
I've added `self_link` and `media_link`.

We believe that in the current system, `owner` and `acl` will never be included in event data, so it would be useful not to include them (particularly as they mean introducing more message types). We still need to consider the other aspects here.

[2020-06-22 23:57] grant opened #10 "timestamp.proto Not Found"
## Expected Behavior

`protoc` should be able to find imported protos.

Example:

[code]

## Actual Behavior

`protoc` is reporting these files are missing. I can't find these files in this repo.

Do we need instructions for importing these protos?

## Steps to Reproduce the Problem

Try to generate types for `google-cloudevents/proto/google/events/cloud/pubsub/v1/events.proto`

[2020-06-24 15:35] jskeet commented on #10
Everything in google/protobuf should come with the protoc installation.

At some point I'll create a Travis build that validates everything.

[2020-06-24 15:35] jskeet opened #14 "Create a Travis build"
We should validate that all the protos are valid, i.e. they can be compiled with protoc.

[2020-06-24 19:15] #14 closed

[2020-06-25 06:21] jskeet commented on #10
Closing this as `compile.sh` now shows how to generate the types.

[2020-06-25 06:21] #10 closed

[2020-06-25 06:40] jskeet commented on #6
Confirmed that `event_based_hold` can be converted to `bool`, which is the last change we need in this issue.

[2020-06-25 07:35] jskeet opened #18 "Review SchedulerData name"
Currently the event data proto message for Scheduler events is "SchedulerData".

The event itself is `google.cloud.scheduler.job.v1.executed`.

I wonder whether it should be `SchedulerJobData`, `JobData` or `ExecutionData`. I can imagine other Scheduler-based events that may need different kinds of data.

cc @yolocs @grant

Note: this doesn't affect the *content* of the message, just its name.

[2020-06-25 15:41] yolocs commented on #18
That makes sense.

[2020-06-25 17:07] grant commented on #18
`SchedulerJobExecutedData`?

[2020-06-26 06:45] jskeet commented on #18
I'd prefer not to include the "executed" part as that wouldn't then be reusable for other things (e.g. if we had "schedule changed" or "execution failed" events). (So I don't like my own original idea of `ExecutionData` either.)

[2020-06-26 16:09] yolocs commented on #18
So maybe something more general just like `JobData`?

[2020-06-26 16:10] jskeet commented on #18
Yes, possibly. (Or SchedulerJobData if we want to give a bit more context.)

[2020-06-26 16:10] #6 closed

[2020-06-26 16:16] yolocs commented on #18
Doesn't the proto package already scope the job to be a scheduler job?

[2020-06-26 16:25] jskeet commented on #18
Yes, it does - it just may avoid cross-namespace type collisions. (Similarly we have PubsubMessage instead of Message - although it's just MessagePublishedData....) I don't mind *much* either way, but would be interested in others' opinions.

[2020-06-26 16:26] yolocs commented on #18
Good point.

[2020-07-08 21:40] grant opened #24 "Generate a directory of CloudEvents"
## Expected Behavior

It should be easy to find a CloudEvent or see a list of all CloudEvents in this repo.

It would be nice to see a generated README with links to the protos.

## Actual Behavior

I have to look in the folders to find my CloudEvent type.

[2020-07-09 23:26] grant opened #27 "Add go_package to protos"
## Expected Behavior

All protos have a `go_package` option:

[code]

[2020-07-09 23:29] grant opened #28 "Add java_package to protos"
## Expected Behavior

All protos have a `java_package` option and other standard attributes:

[code]

[2020-07-09 23:30] grant opened #29 "Add php_namespace to protos"
## Expected Behavior

All protos have a `php_namespace` option:

[code]

[2020-07-09 23:31] grant opened #30 "Add ruby_package to protos"
## Expected Behavior

All protos have a `ruby_package ` option:

[code]

[2020-07-10 07:03] jskeet commented on #27
This - and the other new issues are duplicates of #3, aren't they? I'd expect us to fix all these in a single PR, unless you think it's worth getting one language expert to create a PR for their language each time, which is definitely an option.

[2020-07-10 17:08] grant commented on #27
Yes, it's a dup, sorry!

[2020-07-10 17:08] #27 closed

[2020-07-15 18:30] grant commented on #24
Fixed with https://github.com/googleapis/google-cloudevents/pull/20.

[2020-07-15 18:30] #24 closed

[2020-07-16 01:09] grant opened #31 "Add link to language client libraries"
## Expected Behavior

Links in the README to the language client libraries.

[code]

## Actual Behavior

No link.

[2020-07-16 17:19] grant opened #32 "Add JSON Schema Definitions"
## Expected Behavior

Protobuf tooling produces idiomatic libraries for top languages.

## Actual Behavior

For some languages such as Node/TypeScript, protoc does not produce idiomatic libraries. The protobuf GitHub issues and protobuf team have not been able to answer some of the issues for quite some time.

---

I suggest we allow some (if not all) to use more supported library generators.

I'v

[2020-07-17 02:30] grant commented on #32
Eventually, we could use a repo like `googleapis/google-cloudevent-schemastore` for a proper JSON schema registry.

[2020-07-17 07:00] jskeet opened #33 "Firebase events should be named with "Ref" rather than "Document""
(Firebase is not a document database, but an unstructured JSON store.)

This is part of the work overhauling the Firebase events - it won't be the only change.

[2020-07-18 03:43] JustinBeckwith opened #34 "Enable master branch protection"
This repository does not seem to have master branch
          protection enabled, at least in the way I'm expecting.
          I was hoping for:

          - master branch protection
          - requiring at least one code reviewer
          - requiring at least two status checks
          - enforcing rules for admins

          Please turn it on!

[2020-07-20 07:16] jskeet opened #35 "Consider renaming cloudevent.proto to event.proto"
This will avoid collisions with https://github.com/cloudevents/spec/pull/626

[2020-07-24 23:49] grant commented on #34
Done.

[2020-07-24 23:49] #34 closed

[2020-07-28 01:08] grant commented on #32
Really, we need a better canonical example for generating a library using one of our GAPIC generators.

JSON Schema would probably be a lot easier to use as there is better tooling and documentation. I've seen better results with JSON as well.

[2020-08-03 21:45] grant opened #39 "Add Example JSON payloads per Event Type"
We should add example JSON payloads per event type for easy understanding of event payloads.

This will also make it easy for languages that don't have libraries to implement their own clients.

CC: @michaelawyu

[2020-08-03 21:50] jskeet commented on #39
They could also act as canonical resources for test purposes.

[2020-08-04 21:48] grant commented on #31
Already fixed: https://github.com/googleapis/google-cloudevents#cloudevent-type-repos

[2020-08-04 21:48] #31 closed

[2020-08-07 23:24] grant commented on #39
Here is an example for [`MessagePublishedData`](https://github.com/googleapis/google-cloudevents/blob/master/proto/google/events/cloud/pubsub/v1/data.proto) seen in prod:

[code]

[2020-08-08 00:24] grant commented on #39
Here is an example of a CloudAuditLog seen in prod:
Headers:

[code]

Payload:

[code]

[2020-08-10 19:14] grant opened #43 "CAL data proto fields don't match actual CAL data"
## Expected Behavior

I'd expect all fields that are present in in the CAL data seen for Events are present in our proto definitions. We can't have missing fields, or else our libraries will be missing fields from the JSON payload.

For example, these fields seen from Events are not found:

- `@type`
- `authorizationInfo.resourceAttributes`
- `requestMetadata.callerNetwork`
- `requestMetadata.requ

[2020-08-11 07:43] jskeet commented on #43
Okay, a few separate issues here:

- Why are we seeing `protoPayload`? I'd expect the data of the CloudEvent to just be the AuditLog message. We should talk to the event teams about that.
- The `@type` attribute is because this is basically a `google.protobuf.Any` converted into JSON. I'm not sure it's a good idea for that to be in the event at all - it's going to cause confusion - but it may be h

[2020-08-11 07:44] jskeet commented on #33
This was fixed in #41.

[2020-08-11 07:44] #33 closed

[2020-08-11 15:39] grant commented on #43
- The `protoPayload` has been in the CAL since the beginning of the service and is described a bit in the private preview guides. This is what the Events for Cloud Run sees and is a core part of CAL:
  - https://cloud.google.com/logging/docs/audit/understanding-audit-logs#format_of_audit_log_entries
  - I'm not sure why we shouldn't see this. It's very clear that there is a mismatch (not a huge mi

[2020-08-11 16:12] grant commented on #43
Part of this might be an artifact of logging this information. Will need to figure out the differences with logging there.

[2020-08-11 16:41] jskeet commented on #43
This is now being discussed internally - we'll post an update here when there's more resolution. (That's probably better than trying to maintain multiple lines of communication.)

[2020-08-17 15:00] grant opened #50 "Verify Proto Definitions of JSON Payloads Match JSON Payloads Seen by Cloud Run"
## Expected Behavior

There should be no difference between the payload definitions seen by the protos in this repo (and their JSON representations) with the HTTP body seen by requests sent via Events for Cloud Run. This ensures that we generate valid event type libraries that are compatible with the payloads we see in the service.

The point of this repo is define these types.

To ensure there is

[2020-08-17 23:15] grant opened #51 "Add gogoproto.nullable extension for optional/nullable attributes"
## Expected Behavior

I'd expect that fields that are truly nullable produce libraries that allow these fields to be nullable.

For example, Pub/Sub `attributes` are nullable.

https://github.com/googleapis/google-cloudevents/blob/master/proto/google/events/cloud/pubsub/v1/data.proto#L38

---

Reading more into this, it appears there is a popular protobuf extension that allows nullable annotations

[2020-08-18 05:24] jskeet commented on #51
I'm not sure what you mean by "we do need nullable attributes".

I don't know about other languages, but in both C# and Java protobuf, map fields and repeated fields are never null - they just return empty results if they haven't been set. (This is generally handy, as it means you can iterate over the collection without having to check for nullity first.)

There's no distinction between "the map i

[2020-08-18 22:27] #39 closed

[2020-08-21 16:10] grant opened #55 "Remove Git Diff text in markdown"
It looks like the main README has a git diff on master. We should not have >>> or <<< strings on the main README.

[2020-08-21 16:50] #55 closed, assigned to jskeet

[2020-08-26 01:14] grant commented on #32
@michaelawyu Do you want to add the JSON Schema files seen here to this repo? Thanks for creating them!

https://github.com/googleapis/google-cloudevents/compare/master...michaelawyu:master

[2020-08-31 19:52] grant commented on #32
They've been added with this PR:
https://github.com/googleapis/google-cloudevents/pull/59

[2020-08-31 19:52] #32 closed

[2020-09-01 17:47] grant opened #61 "Support CLI flags in addition to Env Vars for Quicktype Tool"
## Expected Behavior

The quicktype tool should support CLI flags.

[code]

## Actual Behavior

Currently you must provide env vars.

[code]

@grayside @jskeet

[2020-09-02 20:33] grant commented on #61
See PR.

[2020-09-03 14:56] #61 closed

[2020-09-09 20:50] grant opened #64 "Pub/Sub JSON Schema `message_id` should be `messageId`"
## Expected Behavior

The JSON Schema should match the JSON payloads fields exactly.

## Actual Behavior

`message_id` should be `messageId` in the Pub/Sub schmea:

https://github.com/googleapis/google-cloudevents/blob/master/proto/google/events/cloud/pubsub/v1/schema.json#L22

---

This is causing the generator to be incorrect.

CC: @michaelawyu

[2020-09-09 22:15] #64 closed

[2020-09-10 15:49] grant commented on #30
Talking to dazuma, a ruby library doesn't really make sense. Going to close.

[2020-09-10 15:49] #30 closed

[2020-09-10 19:53] grant opened #66 "Add descriptions to JSON Schema fields for IDE autocompletion"
## Expected Behavior

The JSON Schemas should have detailed descriptions for each field, so that we get nice descriptions in our autocompletion.

## Actual Behavior

The JSON Schemas don't have description fields.

Example:
https://github.com/googleapis/google-cloudevents/blob/master/proto/google/events/cloud/pubsub/v1/schema.json#L12

[2020-09-10 21:43] grayside opened #67 "Add "Name" column to README table"
## Expected Behavior

Add a `Source Name` or similar column to the README tab.

When focused on a use-case oriented onboarding to using CloudEvents without a sample, I'm looking for something which says "Audit Logs" or "Cloud Storage", not the existing identifiers.

## Actual Behavior

The machine readable names are useful for developers already oriented on the event types. There is no plain human

[2020-09-24 04:16] grant commented on #51
This issue should be outdated/not needed with the new Go type generator.

[2020-09-24 04:16] #51 closed

[2020-09-24 04:25] grant opened #72 "Remove Wrapper Type From JSON Schemas"
The JSON Schemas should probably not include the data wrapper type. This will allow this schema to be usable with editors that support JSON Schema, like VS Code. This shouldn't affect non-JSON-schema languages/generators.

For example, input the following in a JSON file in VS Code (specify the `$schema` field for autocompletion/IDE comments):

[code]

You'll notice nice autocompletion and inline d

[2020-09-24 05:55] jskeet commented on #72
I don't know what best practice is for the schemas themselves, but I'd *expect* the result in terms of generated code to be the same as for protos, basically. One class per data type, and nested or not as per protos.

[2020-09-25 17:29] grant opened #73 "events.proto Doesn't Have All CE Attributes"
## Expected Behavior

I'd expect the events.proto files to have more than the CE TYPE. For example, other CE required fields

## Actual Behavior

The protos just have `google.events.cloud_event_type`.

https://github.com/googleapis/google-cloudevents/blob/master/proto/google/events/cloud/audit/v1/events.proto

[2020-09-25 17:37] grant opened #74 "Validate JSON Schemas against Protos"
## Expected Behavior

Protos are the source of truth, but JSON schemas are used by many clients. We should validate that the JSON Schemas conform to the correct types that the protobufs (data protobufs).

For each JSON schema file, verify that the corresponding protobuf file represents the same data structure.

## Actual Behavior

We don't have any validation yet.

[2020-09-28 20:22] #72 closed

[2020-09-29 02:07] grant commented on #28
We're going to use JSON Schema for Java, so this is irrelevant.

[2020-09-29 02:07] #28 closed

[2020-09-29 02:11] grant commented on #35
I don't think this will collide with the `CloudEvent` `message` in the `spec.proto`, right?

[2020-09-29 02:15] grant commented on #50
Yash is working on validating the protos in this repo match what is produced by Eventarc. (Likely using the Go/protoc).

Jon has done some work here as well.

Given that, I don't think there's API validation needed in this repo. So closing.

[2020-09-29 02:15] #50 closed

[2020-09-29 03:11] grant commented on #67
Thanks for the issue.

Are you expecting a Google product name per package? We could add that in the Package column.
Or are you asking for a name per CloudEvent type?

The table is already too wide for GitHub's default desktop markdown render. This table is also generated, so we would need to add that metadata to the proto comments likely.

[2020-09-29 03:12] grant commented on #73
Any thoughts on this @jskeet? Even if we we're to comment other expected fields?

Might make the `events.proto` more understandable to folks like myself.

[2020-09-29 03:13] grant commented on #74
Yash is working on this internally.

[2020-09-29 05:12] grant opened #76 "Better Organization for schemas and example JSON payloads"
## Expected Behavior

- It would be nice if this repo supported other representations for CloudEvent data like json/jsonschema/avro/etc.
- It would be nice if the folder name `protos` was more accurate.

I think it would make sense to change the `protos` directory to something more generic like `schemas` (my vote). Or removing that directory making `google` a top-level folder in this repo (`google

[2020-09-29 06:02] jskeet commented on #76
Personally I'd prefer to go in the opposite direction. I'd rather have three top level directories:

- protos
- jsonschema
- testdata

(I'm still not personally convinced by having lots of curl scripts - I'd rather have a *single* README that shows how to make a curl request using one of the data files as the source of request information.)

To me, looking at a directory with multiple types of fil

[2020-09-29 06:06] jskeet commented on #35
Indeed, I think we'll be okay. Closing.

[2020-09-29 06:06] #35 closed

[2020-09-29 06:26] jskeet commented on #73
I think we'd want to justify any additions - there are numerous ways we could do this, such as having a single common message for "attributes". I don't think we want to have a duplicate set of fields in every message.

@yolocs was really driving this side of things. At the moment, the messages do have a purpose in terms of correlating event type and data type, but I don't think we should add field

[2020-09-29 15:00] grant commented on #76
Yeah, I think that approach is better.

We just need to make sure that the folder paths match exactly between those 3 representations and that it's easily discoverable.

That approach would also not break the API (CE-TYPE), which is crucial. Will create a PR.

[2020-09-29 16:11] yolocs commented on #73
I'm all in to standardize other CE attributes.

[2020-09-29 16:35] #66 closed

[2020-09-30 16:32] #76 closed

[2020-09-30 20:31] grant commented on #74
Related, @grayside has done some great work with JSON schema generation:
https://gist.github.com/grayside/4d2e7cf67234248b6c70cd7fc6c1655a#run-the-generator-for-audit-logs

[2020-10-01 19:06] grant opened #81 "Use Git Tags For Marking Points in Time in Repo"
## Expected Behavior

I expect to be able to reference to this SoT repo at a specific point in time for the repo.

Right now I have to use git SHAs, but **git tags** would be better. Should follow standard semver – commits that don't update/break the schema should be patch, non-breaking changes should be minor, otherwise breaking changes are major.

## Actual Behavior

I have to point to SHAs of t

[2020-10-01 19:09] jskeet commented on #81
Silly question: what does SoT stand for? I suspect I'll kick myself as soon as you say...

[2020-10-02 06:58] jskeet commented on #81
I'm certainly happy to use tags for this. We need to design this fully though - I suspect an internal doc may be the right approach. In particular, I'd want to consider:

- What are the use cases for consuming these tags?
- Should the tags be product-specific, or repo-wide?
- Under what circumstances would we make any breaking changes?
- What triggers tagging - is it on every commit, or only when

[2020-10-03 01:33] grant opened #83 "tools/quicktype-wrapper Support multi-file output/quicktype MultiFileRenderResult"
## Expected Behavior

The `qt` tool should be able to write to multiple files if that's what `quicktype` tool produces. For example, Java expects this.

## Actual Behavior

The tool assumes the output is to one file.

## Fix

Use a `MultiFileRenderResult` rather than a `SerializedRenderResult`.

https://github.com/quicktype/quicktype/blob/master/src/quicktype-core/TargetLanguage.ts

## Steps to Re

[2020-10-05 22:26] grant opened #85 "qt Tool: Support Custom packageName"
## Expected Behavior

A `qt` user should use a correct package name in Java that corresponds to the directory path.

Example: `package com.google.events.cloud.audit.v1;`

Not sure if we really should be using the `com.` prefix, but I got some pushback for removing it in the design doc. So I guess we use the jsonschema path with an extra `com.` prefix.

## Actual Behavior

The default package name

[2020-10-06 21:59] grant commented on #73
Going to close this for now. The `cloud_event_type` is really all what we need. Not sure if we want to put more info in the proto. Maybe a different place.

[2020-10-06 21:59] #73 closed

[2020-10-07 20:42] grant opened #87 "tools/quicktype-wrapper / JSONSchema support native timestamp"
## Expected Behavior

Our JSON schemas and qt wrapper should provide a native timestamp/date in the generated language results.

## Actual Behavior

We use strings for dates. This is seen by out JSON payload, but it would be nice if these were converted into `Date` types.

## Steps to Reproduce the Problem

Gen a language with a native date type. Observe

Like [`LogEntryData#timestamp`](https://gi

[2020-10-09 18:47] #83 closed

[2020-10-12 19:26] grant opened #88 "tools/quicktype-wrapper Add license headers feature to qt generator"
## Expected Behavior

The generator should produce license headers on all generated types

[code]

## Actual Behavior

Generated files don't have headers.

[2020-10-12 21:17] grant commented on #74
Or ideally generate the jsonschemas or merge the generated schemas with current schemas:

https://github.com/chrusty/protoc-gen-jsonschema

[2020-10-13 17:53] #88 closed

[2020-10-13 18:01] grant commented on #85
It's easier (for everybody) to fix the package name in post gen, so closing.

[2020-10-13 18:01] #85 closed

[2020-10-13 18:15] grant commented on #3
We don't use protobufs for generating the Go or Java types as they depend on protobuf dependencies which are not required for events. We use JSON Schema instead.

https://github.com/googleapis/google-cloudevents-go

Java, Ruby, PHP, Node, Python, Go, .NET should be good in terms of language options, so I'll close this issue.

[2020-10-13 18:15] #3 closed

[2020-10-16 05:08] grant opened #91 "Support JSON Schemas in IDEs"
Reminder to self to document how to use JSON Schemas for testing and IDE autocompletion.

https://googleapis.github.io/google-cloudevents/proto/google/events/cloud/audit/v1/data.json

---

https://microsoft.github.io/monaco-editor/playground.html#extending-language-services-configure-json-defaults

[code]

[2020-10-26 19:03] grant commented on #29
PHP types are not really useful or in scope right now.

[2020-10-26 19:03] #29 closed

[2020-10-26 20:38] grant commented on #74
So, it's likely we should just gen the jsonschemas and then validate schemas against JSON payload examples. There are many tools to validate that, like:

https://www.npmjs.com/package/jsonschema

[2020-10-27 22:26] grant commented on #91
Fixed with https://github.com/googleapis/google-cloudevents/pull/93.

[2020-10-27 22:26] #91 closed

[2020-10-29 22:04] grant commented on #87
Now generating jsonschemas from protobufs, we now use the standard format       "format": "date-time"

[2020-10-29 22:04] #87 closed

[2020-10-29 22:05] grant commented on #74
We now gen from protos, so no validation needed here.

[2020-10-29 22:05] #74 closed

[2020-10-29 22:07] grant commented on #43
I'm seeing all of these fields in the proto and jsonschema, so closing. If CAL events v2 will unwrap the `protoPayload` field, that's a separate issue (version).

[2020-10-29 22:07] #43 closed

[2020-11-03 18:50] grayside commented on #67
I'm looking for an event type discovery experience which allows me to recognize the event types based on first looking for the product name. Group by vs. per row both work.

[2020-11-04 14:59] grant commented on #81
Good questions.
Right now and in the future I don't think we'll have bandwidth to create useful tags. They wouldn't be very useful for my use-cases. Closing for now.

[2020-11-04 14:59] #81 closed

[2020-11-04 15:51] grant commented on #67
See pending PR. ^

[2020-11-04 16:50] #67 closed

[2020-11-19 21:55] grant opened #114 "Use and Document JSON schema catalog"
## Expected Behavior

We should document the JSON schema catalog and individual event schemas in the README

https://googleapis.github.io/google-cloudevents/jsonschema/catalog.json

## Actual Behavior

We do not do document the schema or the links.

[2020-11-23 01:51] grant commented on #114
Fixed with https://github.com/googleapis/google-cloudevents/pull/115

[2020-11-23 02:01] grant opened #116 "Add CI setup for ensuring JSON schemas, catalog, and readme are updated"
## Expected Behavior

This repo has a few tools that generate files from our proto source of truth. In particular:
- JSON schemas
- JSON schema catalog
- README catalog

In order to ensure that these generated files are current, we should:

- Make it easy to run all generators / tools at once
- Ensure the git diff of a PR is 0 when re-running the generators

GitHub CI should check this on every PR

[2020-11-24 23:59] #116 closed

[2020-11-25 02:03] #114 closed

[2020-11-25 02:14] grant opened #118 "Data Proto Descriptions Are Inconsistent – CAL, Cloud Build, Firebase Auth"
## Expected Behavior

Data proto messages have similar formats and simple descriptions.

Example (good):

https://github.com/googleapis/google-cloudevents/blob/master/proto/google/events/cloud/pubsub/v1/data.proto#L21-L22

[code]

## Actual Behavior

Different have different description formats.

- Specifically, **CAL** and **Cloud Build** protos have different descriptions than the others.
- nit:

[2020-11-25 02:15] grant commented on #118
@jskeet, is it possible to simply modify the proto comments? Or are there upstream or concerns?

[2020-11-25 18:12] grant opened #119 "Protos Don't Indicate If Field Is Required or Optional"
## Expected Behavior

I'd expect that CloudEvent required proto fields have the `required` field rule somehow. This is so we can make JSON fields required or not.

I understand proto3 has limitations with required fields.

## Actual Behavior

The protos don't seem to state if fields are required or not. This turns out to be a little annoying as it causes tooling to accept empty objects as valid ev

[2020-11-30 08:55] jskeet commented on #118
Yes, it's fine to modify the proto comments. These were just what I put in to start with. Of course, when the protos use internal source control as a source of truth, we'll need to change them there.

I'm unlikely to get to this myself - are you happy to create a PR to make the changes you want?

[2020-11-30 08:59] jskeet commented on #119
Given that these are only *consumed* by users rather than actually produced, I think I'd prefer to just document whether they're always expected to be present or not.

Making all fields required would *definitely* be too strict - I expect many fields are absent from many events, particularly CAL and Storage.

Note that even when fields *are* always produced, making the libraries reject events that

[2020-11-30 17:10] grant commented on #119
@jskeet Can you tell me how we would make a field required or not in proto3? As in, is it technically possible? How?

I'm asking for validation tooling purposes. I would ensure any strict requirement is not added for our libraries.

[2020-11-30 17:32] grant commented on #118
@jskeet I've created a PR: https://github.com/googleapis/google-cloudevents/pull/120

Do note, that any changes to our protos affect many different parts/repos. I'll file changes to the JSON schemas and repos separately.

[2020-11-30 18:20] jskeet commented on #119
You can't make fields required "natively" in proto3, no. We could add our own annotation (or reuse an existing one in google.api - I'd need to take a closer look to see if I could see one) and then generate code based on that for validation purposes.

[2020-11-30 18:50] #118 closed

[2020-12-01 00:02] grant opened #122 "JSON Schemas Should Not Have OneOf for Int64 Types"
JSON schemas should not have a `oneOf` type for types for int64 proto fields. Example:

https://github.com/googleapis/google-cloudevents/blob/890c1481557b80d8c514bcd7a6eacd0b213fc7a5/jsonschema/google/events/cloud/audit/v1/LogEntryData.json#L90

This is an error in the JSON schema protoc plugin: https://github.com/chrusty/protoc-gen-jsonschema/issues/47

---

See this comment for details:

https:/

[2020-12-07 21:19] grant commented on #122
Fixed with https://github.com/googleapis/google-cloudevents/pull/123.

[2020-12-07 21:19] #122 closed

[2020-12-07 21:33] grant commented on #119
@jskeet Can we try adding `optional` to our protos ans using `--experimental_allow_proto3_optional` I believe our proto version used in this repo already supports this.

https://github.com/protocolbuffers/protobuf/blob/v3.12.0/docs/field_presence.md

[2020-12-08 06:56] jskeet commented on #119
We *could* do that, but I'm pretty skeptical about it, to be honest. Firstly, I'm not sure how genuinely useful it will be - this isn't a typical use case for proto3 optional fields, where you really want to be able to tell the difference between a value set explicitly and it just keeping the default value. Secondly, I'm very nervous about the quality of information we'll end up with, both now and

[2020-12-09 22:05] grant opened #125 "JSON Schema: Use Type Integer Rather Than String"
## Expected Behavior

The JSON schemas should use type integer for `int64` types, like with `port` in CAL: https://github.com/googleapis/google-cloudevents/blob/master/jsonschema/google/events/cloud/audit/v1/LogEntryData.json#L420

This was mentioned by @jskeet here: https://github.com/googleapis/google-cloudevents-java/pull/54#discussion_r538083491

## Actual Behavior

We use type `string`, which

[2020-12-11 17:59] grant opened #126 "JSON Schema Gen'd Examples are Empty"
## Expected Behavior

When running the json schema generator from master, there should be no changes in the generated files:

[code]

## Actual Behavior

Running the generator creates `examples` fields that are empty (`[]`).

[code]

This is introduced here: https://github.com/googleapis/google-cloudevents/pull/111

[2020-12-14 15:36] #125 closed

[2020-12-15 21:53] michaelawyu commented on #126
A PR (#130) has been sent.

[2020-12-15 22:04] michaelawyu opened #131 "Tests for the Python Unmarshaling Library are Failing"
## Expected Behavior

All 6 tests auto-generated for the Python unmarshaling library should pass.

## Actual Behavior

4 of 6 tests are passing; 2 fail due to schema issues.

## Specifics

Per the protobuf event definitions, the `request` field of the `AuditLog` message (`proto/google/events/cloud/audit/v1/data.proto`) should be a `Struct`, which corresponds to free-form k-v pairs (dictionaries) i

[2020-12-17 22:06] grant commented on #126
Thanks. I added a comment, and we should be able to merge after it's resolved.

[2021-01-07 01:06] grant commented on #119
Perhaps we could apply a field option like `[(google.api.field_behavior) = OPTIONAL]`.

[2021-01-07 09:31] jskeet commented on #119
I'd prefer not to reuse the `field_behavior` annotation which is explicitly designed for APIs, mostly in terms of what clients need to provide in a request. This is more about what the server may or may not provide. So if we want to do anything, I'd suggest a new annotation.

But as per my earlier comment, I'd rather not do anything at all, because I'm skeptical about the accuracy of the informati

[2021-01-12 15:38] grant commented on #131
I'm not sure what specific change or expected behavior you're wishing to see.

Can you expand on the specific proto/json files by including a sample here?

I believe properties like `@type` are purposefully not included in CAL.

[2021-01-12 15:41] grant opened #140 "CI Failure"
The CI is failing due not exact reproducible builds on the CI system.

Improving the reproducibility of the generator would increase the health of this repo and mitigate unexpected unintentional schema changes.

[2021-01-12 15:53] grant opened #141 "Use Go.mod for Proto2JSONSchema Crusty versioning"
## Expected Behavior

We expect deterministic builds and pinned versions for our generators. Using a `go.mod` file may help in our shell scripts when go is used.

## Actual Behavior

To provide a consistent build, one solution that does work is:

[code]

However it can be not as pretty and not as useful for developers testing this locally to execute this.

See: https://github.com/googleapis/google

[2021-01-12 19:12] #140 closed

[2021-01-19 23:23] grant commented on #119
Thanks for the discussion. Will close this for now. Will re-open if needed.

[2021-01-19 23:23] #119 closed

[2021-01-19 23:25] grant commented on #126
This was fixed in #130.

[2021-01-19 23:25] #126 closed

[2021-01-20 00:01] grant commented on #131
@michaelawyu If you're free can you schedule some time with me to resolve this issue?

[2021-01-21 12:55] forking-renovate[bot] opened #143 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:48] #143 closed

[2021-02-01 19:24] grant commented on #141
The script google-cloudevents/scripts/clean.sh should be fine enough for our needs.

[2021-02-01 19:24] #141 closed

[2021-02-05 05:11] kevmoo opened #151 "pubsub example vs current data"
I *just* deployed a handler for pubsub using eventarc.

Here's the data I got:

[code]

VS

https://github.com/googleapis/google-cloudevents/blob/fc742ace41f7854ed67e3314af45d7e5c5260654/testdata/google/events/cloud/pubsub/v1/MessagePublishedData-text.json#L1-L10

Where is the existing behavior documented?

Here are the request headers as an fyi

[code]

[2021-02-05 05:13] kevmoo commented on #151
tl;dr: Should the messageId and publshTime be documented? Etc etc

[2021-02-05 06:27] grant commented on #151
What's the exact question? Sorry, can you be clearer?

Are you saying the testdata file is incorrect? Are you looking for more test data?

- Attributes are optional – you need to add a attr with the pubsub message for that field to appear
- Eventarc add extra like `@type` that isn't part of the CloudEvent

[2021-02-05 06:41] jskeet commented on #151
I think there are two different aspects here:

- Should a message have a message ID and a publish time? The message ID part doesn't surprise me at all, given that it's in [the proto](https://github.com/googleapis/google-cloudevents/blob/master/proto/google/events/cloud/pubsub/v1/data.proto). The publish time is something we should add to the proto if we expect it to continue to be present.
- Shoul

[2021-02-05 15:08] kevmoo commented on #151
@jskeet thanks for interpreting my 🤷  of a issue. The `@type` bit is also inconsistant.

I'm working on the Dart impl here – having ~tight alignment between the docs and the shipping behavior would be goodness.

[2021-02-05 15:18] jskeet commented on #151
I can at least *explain* the presence of `@type` - it occurs when you create a JSON representation of the `google.protobuf.Any` type, which is essentially "here's the protobuf binary data, along with a type URL to show the message it represents".
You can safely ignore it.

But I'd definitely make sure that your Dart implementation can handle the presence of fields that aren't currently in the .pro

[2021-02-05 15:20] kevmoo commented on #151
We just ignore fields we don't know about.

...just want to make sure we wire against the right fields and don't miss
anything.

Like, which messageId and date fields to use. :-)

On Fri, Feb 5, 2021 at 7:18 AM Jon Skeet <notifications@github.com> wrote:

[2021-02-05 18:06] grant commented on #151
See b/164484479 for the duplicate messageId and date fields.

[2021-02-08 19:26] grant commented on #151
We need docs to state this when using Eventarc.

[2021-02-09 16:59] jskeet opened #154 "Generation scripts fail on Windows"
## Expected Behavior

Running `./scripts/gen.sh` on Windows should regenerate everything appropriately

## Actual Behavior

The schema is regenerated with very different content, and then there's a

## Steps to Reproduce the Problem

- Start a Windows VM
- Install Go, Node and bash (simplest option for the latter is to use the bash that comes with Git for Windows)
- Clone this repo
- Run `./script

[2021-02-09 17:30] #151 closed

[2021-02-09 17:35] kevmoo commented on #151
Thanks! Could we update the test data, too? @jskeet ?

[2021-02-09 17:40] jskeet commented on #151
@kevmoo: Maybe. At the moment it really depends on where you're consuming the data. I don't *think* I'd include the legacy fields in the test data, but we'd want to add the publish time.

[2021-02-09 17:43] kevmoo commented on #151
I'm consuming the data from `pubsub` via eventarc. See the top of the issue to see the data I'm getting.

Just wanting what I'm seeing to be documented somewhere.

[2021-02-09 17:46] jskeet commented on #151
Yes - my point is that if I change the test data to show the content received in GCF or other environments at the moment, then we could end up with another issue about that.

The point of adding the note in the now-merged PR is so that you shouldn't *expect* to see every field that might be present in reality in the test data. I wouldn't want to add the snake_case fields for example. (I may or may

[2021-02-09 17:48] kevmoo commented on #151
Sure. But publishTime and messageId would be great...

Otherwise I'm not sure what I'm supposed to be parsing or not.

[2021-02-09 17:51] jskeet commented on #151
`messageId` is already present in https://github.com/googleapis/google-cloudevents/blob/master/testdata/google/events/cloud/pubsub/v1/MessagePublishedData-binary.json

We could potentially add it to the text one as well. As as I say, I'll add `publishTime`.

But in general, if you see a field in reality and it's in the .proto file, then yes, you should absolutely treat that as definitive. (Note th

[2021-02-11 06:15] grant commented on #154
I need to fix the backslash Windows path separators in this script:

https://github.com/googleapis/google-cloudevents/blob/master/tools/readme-catalog/index.js

Let me know if there's urgency to get to this, or I'll eventually get to it. It shouldn't be blocking core generation.

[2021-02-11 06:32] jskeet commented on #154
No urgency - it's fine.

[2021-02-18 20:45] grant opened #163 "Create CI to Create PR to Run Generator"
## Expected Behavior

The repo should automatically create a PR with changes that run the generator and fix the build.

i.e. run `gh pr create` when a commit lands on `master` if the diff in non-0.

[code]

## Actual Behavior

You need to manually run the generator after a proto change (from copybara for example).

## Notes

- https://github.com/isaranto/gitflow-actions/blob/master/.github/workflo

[2021-02-22 20:47] grant opened #166 "Auto-generate PR that runs Generator"
## Expected Behavior

There should be a generated PR that runs the generator after a proto is changed.

## Actual Behavior

There is no generated PR and the build fails after a copybara commit.

[2021-02-22 20:48] grant commented on #166
Actually this is a duplicate.

[2021-02-22 20:48] #166 closed

[2021-02-26 22:54] grant commented on #163
Do we want automerge CI too, if the CI is all green?

Here's some idea code:

https://github.com/isaranto/gitflow-actions/blob/master/.github/workflows/gitflow_release_major.yml

[2021-02-26 22:57] grant opened #174 "Fix the Broken CI"
## Expected Behavior

CI/Actions is green.

## Actual Behavior

Currently the CI is broken.

https://github.com/googleapis/google-cloudevents/runs/1956108348

---

We should automate this a bit with https://github.com/googleapis/google-cloudevents/issues/163

[2021-03-05 21:52] #174 closed

[2021-03-06 03:21] grant opened #176 "proto2jsonschema incorrect field capitalization for fields with numbers"
In the proto2jsonschema step, it looks like some fields are incorrectly capitalized.

## Expected Behavior

`string crc32c = 11;`
->
`"crc32c": { "type": "string" },`

## Actual Behavior

`"crc32C": { "type": "string" },`

With a capital "C".

## Links

Proto:

https://github.com/googleapis/google-cloudevents/blob/master/proto/google/events/cloud/storage/v1/data.proto#L78

JSON Schema:

https://gi

[2021-03-06 19:19] grayside opened #177 "Change default branch from `master` to `main`"
## Expected Behavior

Use `main` as the default branch.

## Actual Behavior

Continuing to use `master` as the default branch.

[2021-03-08 00:31] grant commented on #176
This is due to a bad postgen field capitalization step.

[2021-03-09 00:46] grant commented on #154
Added a PR, but I cannot reproduce the issue on a Windows CI runner. If you're able to do so, or use some other virtual device to triage this issue, please LMK.

[2021-03-09 00:47] grant commented on #163
There's a design doc about this called unmarshal-autogen.

[2021-03-09 00:58] grant commented on #176
See above PR for a fix.

[2021-03-09 09:08] jskeet commented on #154
It's still failing for me, after generating a *lot* of output. (Huge numbers of messages of "No such package nor message in package".) Will dig into it further locally when I get the change - reassigning it to myself.

[2021-03-09 09:24] jskeet opened #180 "Make sure we understand how references to messages outside the event-specific proto are handled"
Our event protos aren't self-contained: they can refer to protos within https://github.com/googleapis/google-cloudevents/tree/master/third_party/googleapis.

It would be useful to understand the impact of any references in terms of generated classes.

Proposed test - none of which would be committed:

- Add fields of type `google.rpc.ErrorInfo` in three places:
  - Two fields within `google.events

[2021-03-09 10:20] jskeet commented on #154
https://github.com/chrusty/protoc-gen-jsonschema/issues/52 suggests we can ignore those "No such package nor message in package" messages. I'm still confused as to why I don't see them in the CI logs though.

[2021-03-09 10:22] jskeet commented on #154
Next issue: the "postgen" step of `tools/proto2jsonschema/gen.sh` gives this error:

[code]

[2021-03-09 10:51] jskeet commented on #154
Okay, I *think* I've fixed postgen.js by adding this as line 45:

[code]

Let's see what comes next...

[2021-03-09 10:56] jskeet commented on #154
Hooray - with that change in place, the tool completes. It looks like the only change generated is that we've lost the understanding of `bytes` fields - they all just code out as plain `string` fields in the schema, rather than with the format and binaryEncoding metadata. Obviously we need to fix that before really declaring victory... it feels like that's a very odd difference to see, given that

[2021-03-10 14:59] jskeet commented on #154
Just running this on Linux, and I get the same "No such package nor message in package" messages there too, so it looks like that isn't Windows-specific.

Likewise the removal of base64 formatting from bytes fields appears to happen on Linux too.

@grant do you know anything about the base64 side of things? Is that from an unreleased version of the Chrusty plugin or something like that? If you run

[2021-03-10 17:37] #176 closed

[2021-03-11 12:30] jskeet commented on #180
Okay, I've now performed the test.

Fields added with `build_repo_error`, `build_storage_error` and `storage_error` (in the three places mentioned above).

Here's the change in schemas:

##In BuildEventData.json:

In `definitions/RepoSource/properties` there's a new entry:

[code]

Likewise in `definitions/StorageSource/properties`:

[code]

Then in `definitions/ErrorInfo` we have:

[code]

Compar

[2021-03-11 18:32] #154 closed

[2021-03-11 21:56] grant commented on #154
@jskeet sorry for not seeing this.

I get a clean diff with the latest generation.

I'm not sure about the issue with `base64` you're seeing. There has been some changes there, and there are inconsistencies in general with the latest JSON Schema spec, and the JSON schema golang library the chrusty tool uses.

The latest schema points gives some metadata base64. Maybe create a new issue?

[2021-03-12 06:49] jskeet commented on #154
I'm pretty sure it was an issue (on two entirely different machines) with an old version of the plugin being used. I suggest we don't worry about it, but remember the symptoms in case it comes up again.

[2021-03-16 20:39] long1eu opened #184 "Crate the trigger for Firebase Auth events"
I also posted the issue here, but this being so new no one knows how to do it.

https://stackoverflow.com/questions/66618852/creating-eventarc-triggers-for-firebase-auth-events

[2021-03-20 03:09] grant commented on #184
Hi there,
Eventarc only supports 2 kind of events, Pub/Sub and Cloud Audit Logs.

Firebase Auth events are not supported, at least for the native kind of events that you can see with Cloud Function triggers.

Audit Logs triggers may work for this, but I'm not sure. Try looking for the audit log in the Cloud Console activity view. The docs may also have some advice:

https://cloud.google.com/eventa

[2021-03-20 07:43] long1eu commented on #184
Then I don't understand. The blog post mentioned events from firestore and
such in the first paragraph. Also there is the proto specifications for
these events.

Cloud Audit doesn't work since it doesn't contain the UserRecord.

https://www.google.com/amp/s/cloudblog.withgoogle.com/products/serverless/build-event-driven-applications-in-cloud-run/amp/

On Sat, 20 Mar 2021 at 03:10, Grant Timmerman

[2021-03-20 18:12] iennae commented on #184
@long1eu are you trying to do something with Firebase or Firestore?

[2021-03-20 18:23] long1eu commented on #184
I need firebase auth events and firestore events.

[2021-03-22 16:07] grant commented on #184
Thanks for linking the article.

In the bullet points, the blogpost talked about:
- Receive events from 60+ Google Cloud sources (via Cloud Audit logs).

I believe Firestore events are supported but not Firebase auth. Here's an example trigger command:

[code]

Where Firestore `METHOD_NAME` may be:

- `google.cloud.location.Locations.GetLocation`
- `google.cloud.location.Locations.ListLocations`
-

[2021-03-24 04:30] grant opened #189 "Sync Master with Copybara Branch"
## Expected Behavior

The `master` branch should be in sync with the `copybara` branch.

## Actual Behavior

Things are a bit out of sync. Looks like the GitHub Action isn't working as expected to create a sync'ing PR.

[2021-03-24 05:17] grant commented on #177
While I understand we want to use the name `main` as the default branch in general, there would be significant work to re-name the repo up and downstream. A plan to change the branch name would require some upstream changes and probably should be done at the same time as other repos in this org, using tooling if available.

I'm going to close this, but I'm free to have a discussion around this and

[2021-03-24 05:17] #177 closed

[2021-03-24 05:18] grant commented on #184
Closing this issue, but please comment if you'd like it to be re-opened.

[2021-03-24 05:18] #184 closed

[2021-03-24 20:25] #189 closed

[2021-03-24 20:45] grant commented on #180
I'm not sure how to triage this issue. With JSON schema, each schema is self-contained and can iterate and evolve separately from other schemas. One of the things we can look into in the future is if there are ways to re-use schemas/code per language library if beneficial.

@jskeet What do we want to change, or what is the developer issue we're trying to raise up here?

[2021-03-24 20:50] jskeet commented on #180
@grant: I would suggest that we should ask each language owner to consider the developer experience and decide whether it's sufficient or not.

The example I gave in Java (with two classes *for the same event* representing the same proto) doesn't feel like the experience we want for customers. Between different events there's a bit more room for understanding the duplication, although if they're w

[2021-03-26 02:29] grant opened #195 "Fix Protoc Plugin Pinned Version"
## Expected Behavior

The chrusty tool that generates JSON schemas should be pinned to ensure reproducable results.

## Actual Behavior

It looks like the chrusty tool is using `master` from the repo.

## Steps to Reproduce the Problem

Run `./scripts/gen.sh`.

[2021-03-30 21:17] #195 closed

[2021-04-09 19:07] grant commented on #180
That sounds like a good plan. Looking deeper into the example, I can imagine that we have common language definitions for a set of common protos. We're going to need to look into each language. The team may be changing priorities so I'm not sure about timing right now for when I can do that.

[2021-04-09 20:44] grant opened #203 "Re-add cloudevents.proto in copybara"
## Expected Behavior

The `copybara` branch should keep the cloudevents.proto file:

https://github.com/googleapis/google-cloudevents/blob/master/proto/google/events/cloudevent.proto

## Actual Behavior

It's missing from the `copybara` branch.

[2021-04-09 20:44] grant commented on #203
Jay has fixed the copybara config, so we should get a PR at some point.

[2021-04-12 16:51] grant commented on #203
I think we need a proto change to trigger the copybara flow.

[2021-04-12 19:46] jay-shi commented on #203
This issue is fixed in https://github.com/googleapis/google-cloudevents/commit/c4fac720212409589b6a0d3089650863172f728e

[2021-04-12 19:46] #203 closed

[2021-04-16 23:50] anguillanneuf opened #208 "Possibly outdated `PubsubMessage` type with no `OrderingKey` field"
## Expected Behavior
The Pub/Sub message data type as linked in the README [looks](https://github.com/googleapis/google-cloudevents/blob/master/proto/google/events/cloud/pubsub/v1/data.proto) outdated.
## Actual Behavior
The message type should have a field "OrderingKey" as shown [here](https://cloud.google.com/pubsub/docs/reference/rest/v1/PubsubMessage).

[2021-04-19 04:00] grant commented on #208
@jskeet Do you suggest we add this `orderingKey` in the upstream g3 proto? Any comments?

[2021-04-19 05:39] jskeet commented on #208
We should add it if and only if it's actually in events. I'll investigate that later today. (It's entirely possible that it's present in the API representation but not in the event.)

[2021-04-19 06:48] jskeet commented on #208
Just tried this using GCF (not Eventarc) and the ordering key is *not* present there. It's possible that it would be present in Eventarc. I'll need to deploy to Cloud Run to check that.

[2021-04-19 07:18] jskeet commented on #208
Okay, with Cloud Run I *did* see the ordering key. Complete event data:

[code]

So yes, we should update the internal proto.

[2021-04-21 20:02] #163 closed

[2021-05-11 16:24] grant commented on #208
Fixed with https://github.com/googleapis/google-cloudevents/commit/d619aee336c4a4e09127736626e4d03cee8cf745.

[2021-05-27 15:29] salrashid123 opened #221 "Cannot unmarshall logEntry.Severity"
I'm trying unmarshall  and inbound cloudEvent Audit entriy into `github.com/googleapis/google-cloudevents-go/cloud/audit/v1`.`LogEntryData`  as shown below.

However, the `Severity` field that is sent is just a string while the [auditv1](https://github.com/googleapis/google-cloudevents-go/blob/master/cloud/audit/v1/log_entry_data.go#L368) below defines it

[code]

while google eventarc send over j

[2021-06-02 05:36] nickmeinhold commented on #184
Thanks @grant!  I'm just hoping to clarify so I can stop trying to figure out what is and isn't possible - can I confirm that we can't currently use Eventarc to create Firestore triggers for document events? (ie. created, updated, deleted, written) The method names you posted and linked are all admin events and don't seem to include these document events.  If this is correct do you know where I ca

[2021-06-03 12:43] camiekim opened #225 "Alphabetize list of services in AUDIT_CATALOG.md"
Pls alphabetize list of services. For example, "Cloud AutoML" is situated between "App Engine" and "BigQuery".  Other examples: Binary Authorization, Eventarc, Cloud Pub/Sub, Cloud Run, etc. Thanks.

[2021-06-03 19:39] grant commented on #225
Currently the list of services is sorted by service name, not display name. So `automl.googleapis.com` is between GAE and BigQuery. Holding off for now. :)

[2021-06-03 20:23] camiekim commented on #225
Looks like we can go ahead with the other repo instead. Thanks and I hope this didn't take too much of your time!

[2021-06-03 20:24] grant commented on #225
ack, thanks!

[2021-06-03 20:24] #225 closed

[2021-06-27 20:22] jamesvnz commented on #184
@nickmeinhold it might be too late - but the docs indicate that audit events for document events are coming in a few days time (30th June): https://cloud.google.com/firestore/docs/audit-logging#upcoming-audit-logs

This will cover the Firestore events. There is no indication on what is happening with the Auth events.

[2021-06-28 23:38] nickmeinhold commented on #184
Woohoo!  Thanks @jamesvnz!

[2021-07-01 00:40] grant opened #245 "Fix JSON Schema representation for `google.protobuf.Struct`"
The JSON schema conversion for proto fields that are `google.protobuf.Struct` produce incorrect schemas that have a "additionalProperties" field.

This whole key (`properties`) with `fields` should be removed from our JSON schemas. For example, this is causing issues with CAL payloads.

[code]

[2021-07-02 13:34] wonsuc commented on #184
Is it released? I can't see those methods from the cloud console's event trigger list yet.

[2021-07-02 23:16] jamesvnz commented on #184
Sigh, they've changed the docs: "Audit logs for the following operations will become available soon."

[2021-07-06 21:19] grant opened #250 "JSON schema google.protobuf.Duration Should Be Treated as string"
It looks like the JSON serialization of a `google.protobuf.Duration` is a string like `"660s"`. Currently we misrepresent the JSON schema as an object. This affects types like Cloud Build objects.

- Example JSON: https://github.com/googleapis/google-cloudevents/blob/master/testdata/google/events/cloud/cloudbuild/v1/BuildEventData-simple.json
- Proto: https://github.com/googleapis/google-cloudeven

[2021-07-12 18:32] #250 closed

[2021-07-16 22:48] jamesvnz commented on #184
For those interested, Data read and data write audit logging appears to be live now: https://cloud.google.com/firestore/docs/audit-logging#data-access-audit-logs:-data_read-and-data_write

[2021-07-19 13:22] kylehotchkiss commented on #184
@jamesvnz have you gotten the read/write audit logs working in your projects? I tried to enable them in the Audit Logs settings under datastore/firestore API and view them in my project in the Log Explorer but seeing nothing yet. I tested some dummy read/writes both in the Firestore admin panel and via an application connected to firestore.

[2021-07-21 17:20] averikitsch commented on #245
@grant can you add more context here or a proposed solution? Does the conversion process need to be updated? Then do the libraries need to be regenerated?

[2021-07-21 17:31] grant commented on #245
Sure, here's some more context:

For some fields, our proto definitions are the type `google.protobuf.Struct`.

Example:

https://github.com/googleapis/google-cloudevents/blob/4e58ad34f45c0abd466e5b3a177a1a8d92b45dfe/proto/google/events/firebase/auth/v1/data.proto#L55

`google.protobuf.Struct custom_claims = 10;`

This currently produces a JSON schema that is more complicated than we need.

Actual

[2021-07-21 17:33] grant commented on #245
After updating the JSON schema in this repo, then re-generating the libraries would be the next step.

[2021-07-22 20:57] jamesvnz commented on #184
Interesting - it's been rolled back. [change log](https://cloud.google.com/firestore/docs/release-notes#July_22_2021)

And the documentation too: https://cloud.google.com/firestore/docs/audit-logging#upcoming-audit-logs

[2021-07-29 07:03] grant commented on #245
I'm not currently working on this, so unassigning. Feel free to ping me :)

[2021-08-24 18:59] amarkevich opened #269 "Include google-cloudevent-types to java-cloud-bom"
**Is your feature request related to a problem? Please describe.**
Allows projects with google-cloud-bom[1] via dependencyManagement use google-cloudevent-types without version specified.

**Describe the solution you'd like**
%subj%

**Describe alternatives you've considered**
Tracking version manually is annoying task

**Additional context**
1. https://github.com/googleapis/java-cloud-bom/

[2021-08-25 04:57] forking-renovate[bot] opened #270 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency typescript to ~4.4.0](../pull/271)
 - [ ] [chore(deps): lock file maintenance](../pull/268)

## Ignored or Blo

[2021-09-02 16:19] #270 closed

[2021-09-28 00:18] grant commented on #269
Hi @amarkevich, I don't know if you meant to file an issue with this repo. Are you looking for the Java repo?

https://github.com/googleapis/google-cloudevents-java

Maybe file the issue against https://github.com/googleapis/java-cloud-bom/?

[2021-10-15 00:34] grant commented on #180
@jskeet I did a bit more research looking at every event type.

There are a couple of instances of references outside the event-specific proto:

Products:
- Audit Logs
- Firestore

Non-event specific types:
- `google.api.MonitoredResource`
- `google.rpc.Status`
- `google.rpc.context.AttributeContext.Auth`
- `google.rpc.context.AttributeContext.Peer`
- `google.rpc.context.AttributeContext.Request`

[2021-10-15 19:42] grant commented on #245
Fixed with https://github.com/googleapis/google-cloudevents/pull/289

[2021-10-15 19:42] #245 closed

[2021-11-17 13:50] wonsuc commented on #184
Is this available now?

[2022-02-03 19:57] ace-n commented on #180
Chatted with @grant, who said he's not actively working on this.

@jskeet is this something you can follow up on (`scheduling language owner sync`), or should we close for lack of {knowledge, resources}?

[2022-02-03 20:01] jskeet commented on #180
We shouldn't close it. It should be part of our discussions about the DevX for events. (Those discussions are ongoing, they've just been a bit behind-the-scenes.) I'm happy to keep it assigned to me.

[2022-02-03 20:17] grayside opened #322 "jsonschema is overly permissive"
## Problem

The jsonschema for Pub/Sub (and presumably the other events) is overly permissive, making broad use of `additionalProperties: true` and no `required` properties. As a result, straightforward mistakes in shaping a JSON payload can easily validate as correct.

## Solution

Revisit the decisions around `additionalProperties` and `required` to ensure we have appropriate flexibility, but no

[2022-02-03 20:31] jskeet commented on #322
Point 2 is a failure on my part - I'll have a look at the schema validation code tomorrow. (Any NullReferenceException is a code bug...) Thanks for flagging it!

[2022-02-04 11:54] jskeet commented on #322
https://github.com/googleapis/google-cloudevents-dotnet/pull/98 improves the .NET tooling - the validation would fail with this instead:

[code]

That's still not *ideal* as it only gives the field name rather than the whole path to the field, but it's at least more of a clue than before.

[2022-03-11 12:45] wonsuc opened #336 "Cloud Firestore event is not being triggered."
I'm using Cloud Run with Java server and made some Cloud Firestore Eventarc Triggers from console.

`google.firestore.v1.Firestore.CreateDocument`
`google.firestore.v1.Firestore.GetDocument`

However, it's not working. I'm not sure what I'm missing.

The Java server is just a simple "Hello World" Spring Boot project.

I didn't configured [CloudEvents SDK](https://github.com/cloudevents/sdk-java) y

[2022-03-22 17:33] grayside commented on #336
Hello @wonsuc,

This event type is not yet available, to trigger on Firestore events please use an Audit Log.

The supported methods are listed in https://github.com/googleapis/google-cloudevents/blob/main/AUDIT_CATALOG.md#cloud-firestore, and the following tutorials show how use it:

* https://cloud.google.com/functions/docs/2nd-gen/getting-started#audit_logging
* https://cloud.google.com/eventar

[2022-03-22 17:33] #336 closed

[2022-03-22 18:13] grayside commented on #336
I also posted this answer to [Stackoverflow](https://stackoverflow.com/a/71576802/38408), feel free to continue the discussion there!

[2022-06-16 15:27] nmazidi commented on #336
I'm also experiencing this. `google.firestore.v1.Firestore.CreateDocument` audit log events aren't being triggered at all.

[2022-09-08 04:39] devinbost opened #396 "Where's the envelope for the examples?"
The JSON Schema examples of the events on the main page (https://github.com/googleapis/google-cloudevents) are great! However, they're listed on the page as examples of the CloudEvents specification.
The CloudEvents specification mentions these required properties:

- id: String
- source: URI-reference
- specversion: String
- type: String

However, I don't see any of these envelope properties ment

[2022-09-08 06:17] jskeet commented on #396
The examples are examples of the payload of the CloudEvents. Eventarc (currently, at least) delivers CloudEvents in *binary mode*, which means the CloudEvent attributes are provided as HTTP headers (ce-id, ce-type etc), not in the body.

[2022-09-08 18:35] #396 closed

[2022-09-08 18:47] muncus commented on #396
Devin - I've updated the Readme in line with Jon's comments, to note that the examples contain only the Data portion of the full CloudEvent.

Our goal here is to describe the payload once extracted from the envelope. A json schema (for example) could not specify details about the data payload because the envelope stores it as a simple string (or bytes in the case of a proto-encoded data payload).

[2022-09-14 23:15] muncus opened #405 "Builds failing due to proto3 optional fields"
Builds recently began failing with a message about proto3 optional fields ([example](https://github.com/googleapis/google-cloudevents/actions/runs/3055934968/jobs/4929549173))

This was caused by the recent inclusion of this proto: https://github.com/googleapis/google-cloudevents/blob/main/proto/google/events/cloud/iot/v1/data.proto which uses the `optional` keyword in a proto3 file.

I'm investig

[2022-09-15 06:18] jskeet commented on #405
@muncus: I'll fix up google-cloudevents-dotnet this morning.

[2022-09-15 11:58] jskeet commented on #405
@muncus: google-cloudevents-dotnet should be fine now.

[2022-09-15 17:14] #405 closed

[2022-09-21 20:34] tobytraylor opened #407 "Firestore messages implemented but not available through clound event arc"
I'm just wondering how to find out when the Firestore messages will be available in event arc.  Is there a roadmap available online somewhere?  The audit log version of the firestore messages do not contain the information necessary to replace cloud functions with cloud run so i'm looking to find out when the direct from service messages will be available.

[2022-10-07 17:32] averikitsch opened #427 "Update cloudevents-admins GitHub team"
Based on PR #410 , the [cloudevents-admins team](https://github.com/orgs/googleapis/teams/cloudevents-admins) needs to be updated to include just the Eventarc team.

Is this team managed by mdb group + team sync? If not, we may want to set that up so the Eventarc team can easily manage their members.

[2022-11-08 20:33] camiekim opened #441 "Display name for clouddeploy.googleapis.com should be "Cloud Deploy" and not "Cloud Deployment Manager""
This content is pulled into https://github.com/GoogleCloudPlatform/eventarc-samples/tree/main/eventarc-events/EventListGenerator and affects the public docs here: https://cloud.google.com/eventarc/docs/reference/supported-events#cloud-deployment-manager

[2022-11-17 19:57] averikitsch commented on #441
cl/489269578

[2022-11-22 23:19] averikitsch commented on #441
CL has been merged. @marcgovi can you push an update to the service_catalog.json?

[2022-11-22 23:35] marcgovi commented on #441
Absolutely. The changes should be in once cl/490048292 is submitted.

[2022-11-30 16:25] iennae commented on #322
Closing not because this is fixed, but as we are replacing the generation process which will eliminate this problem.

[2022-11-30 16:25] #322 closed

[2022-11-30 17:46] grant commented on #322
Sounds good, looking forward to the updated generation process!